@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

button,
a {
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#root {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: "PyeojinGothic-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
