@import "tailwindcss";
@import "./theme.css";

@custom-variant dark (&:where(.dark, .dark *));

button,
a {
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "PyeojinGothic-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#root {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

strong,
b,
.font-bold {
  font-family: "PyeojinGothic-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
.font-display {
  font-family: "Paperlogy-8ExtraBold", "PyeojinGothic-Bold", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 800;
}

.font-regular {
  font-family: "PyeojinGothic-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 300;
}

.font-header {
  font-family: "Paperlogy-8ExtraBold", "PyeojinGothic-Bold", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  font-weight: 800;
}

@font-face {
  font-family: "PyeojinGothic-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Regular.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PyeojinGothic-Bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
