@theme {
  /* Light theme colors */
  --color-light-background: #f9fafb;
  --color-light-background-reverse: #15182e;
  --color-light-card: #ffffff;
  --color-light-text: #15182e;
  --color-light-text-secondary: #6b7280;
  --color-light-primary: #3b82f6;
  --color-light-border: #e5e7eb;

  /* Dark theme colors */
  --color-dark-background: #15182e;
  --color-dark-background-reverse: #f9fafb;
  --color-dark-card: #111827;
  --color-dark-text: #f9fafb;
  --color-dark-text-secondary: #9ca3af;
  --color-dark-primary: #60a5fa;
  --color-dark-border: #374151;

  --font-display: "PyeojinGothic-Bold", "sans-serif";
  --font-header: "Paperlogy-8ExtraBold";

  /** particles */
  --color-beige: oklch(0.9769 0.011 63.36);
  --color-wine-red: oklch(0.5253 0.155 17.61);
  --color-orange: oklch(0.7883 0.1326 46.99);
  --color-font-default: oklch(0.3012 0 0);
  --color-orange: oklch(0.7682 0.1422 40.26);
  --color-sky-blue: oklch(0.8548 0.095 224.65);
  --color-light-purple: oklch(0.7723 0.1204 284.28);
  --color-green: oklch(0.889 0.1786 167.29);
  --color-pink: oklch(0.8333 0.1498 324.86);

  --color-primary: #3ce3bd;
}
